{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Supermarket{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static  'css/mysitebase.css' %}">
    </head>
    <body>
        {% if user.is_authenticated %}
            Hello, {{ user.username }}!
            <a href="{% url 'account_logout' %}">Log Out</a>
        {% else %}
            <P>You are not logged in.</P>
            <p>
                <a href="{% url 'account_login' %}">Log In</a> |
                <a href="{% url 'account_signup' %}">Sign Up</a>
            </p>
        {% endif %}
        <h1><a href="{% url 'home' %}" class="btn name-header">Supermarket</a></h1>
        <div class="container">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} col-md-6">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
            {% block content %}

            {% endblock content %}
        </div>
        {% block javascript %}
            <script src="{% static 'js/base.js' %}"></script>
        {% endblock javascript %}
    </body>
</html>