{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
    <div class="book-detail">
        {% if book.cover %}
            <img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}">
        {% endif %}
        <h2><a class="btn btn-link">{{ book.title }}</a></h2>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}</p>
    </div>
    <div>
        <h3>Reviews ({{ book.reviews.all.count }})</h3>
        {% if book.reviews.all %}
            <ul>
                {% for review in book.reviews.all %}
                    <li>{{ review.review }} ({{ review.author }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reviews for this book yet.</p>
        {% endif %}
    </div>
{% endblock content %}